body {
    font-family: Arial, sans-serif;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
  }
  
  input[type="number"] {
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  button:active {
    background-color: #1e7e34;
  }
  
  #password {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    word-break: break-all;
    color: #495057;
    font-size: 16px;
  }
  
  #copy {
    display: none;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  #copy:hover {
    background-color: #0056b3;
  }
  
  #copy:active {
    background-color: #004085;
  }
  